<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ENVIRONMENT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%level] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger
        name="pl.gov.il.test.harness.diagnostics.EnvironmentEventLog"
        level="TRACE"
        additivity="false">
        <appender-ref ref="ENVIRONMENT"/>
    </logger>

    <logger name="org.testcontainers" level="WARN"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="tc" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
